@import 'colors';
@import 'fonts';
@import 'syntax-highlighting';

$rs: 16px;

.icon {
    > svg {
        display: inline-block;
        width: $rs;
        height: $rs;
        vertical-align: middle;
    }
}

amp-img {
    background-color: $grey;
}

amp-img[role=button] {
    cursor: pointer;
}

.cf {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) {
        @content;
    }
}

%vertical-rhythm {
    margin-bottom: $rs;
}

main {
    display: block;
}

body {
    background-color: $white;
    font-family: $font-sans;
    margin: 0;
    padding: 0;
    color: $black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
    font-feature-settings: 'liga', 'dlig';
}


a {
    color: $grey;
    text-decoration: none;
    transition: 0.2s linear;
    &:hover {
        color: $black;
    }
}

.site-header {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: $rs * 2 auto;
    border-bottom: 1px solid $grey-lighter;
    box-sizing: border-box;
    @include respond-to(900) {
        padding: 0 $rs * 1;
    }

    .page-links {
        display: block;
        position: absolute;
        top: 10px;
        right: $rs;
        font-size: 18px;
        line-height: $rs * 2;

        a {
            color: $grey-medium;
            &:hover {
                opacity: .85;
            }
        }
    }

}

.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    @include respond-to(900) {
        padding: 0 $rs * 1;
    }

    .article-item {
        margin-bottom: $rs * 2;
    }

    article {
        padding: $rs * 2 0 0 0;
        &:last-child {
            border-bottom: 0;
        }
        .post-title {
            letter-spacing: $font-spacing;
            font-size: $font-size-large;
            margin: 0 0 32px 0;
            a {
                color: $black;
                &:hover {
                    opacity: .75;
                }
            }
        }
        .post-excerpt {
            letter-spacing: $font-spacing;
            font-size: 20px;
            line-height: $line-height;
            color: $grey-medium;
        }
        .post-meta {
            color: $grey;
            line-height: $rs * 2;
        }
    }
}

.post-template .content {
    max-width: 800px;
}

.index-headline {
    border-top: 1px solid $grey-lighter;
    margin: 0;
    padding: $rs 0;
    padding-bottom: $rs * 2;
    color: $grey-medium;
    font-size: $rs / 8 * 6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pagination {
    text-align: center;
    padding: $rs * 1 0 0;
}

.site-footer {
    margin: 0 auto;
    padding: $rs * 3 0;
    width: 100%;
    max-width: 800px;
    font-size: $rs / 4 * 3;
    text-align: center;
    color: $grey-medium;
    line-height: $rs * 1.5;
}

.post {
    .post-title {
        font-weight: 600;
        line-height: 1.15;
    }
    .post-meta-text {
        color: $grey-medium;
        letter-spacing: $font-spacing;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        overflow: hidden;
        font-family: $font-sans;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .post-content {
        width: 100%;
        margin-top: $rs * 2;
        strong,
        b {
            font-weight: 700;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-sans;
            letter-spacing: $font-spacing;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 0;
        }
        h2, h3, h4, h5, h6 {
            font-size: 26px;
            line-height: 1.3;
        }
        h1 {
            font-size: 42px;
            line-height: 1.2;
            margin-top: 50px;
        }
        table {
            border-collapse: collapse;
            margin-top: $rs / 2;
            margin-bottom: $rs / 2;
        }
        table, th, td {
            border: 1px solid $black;
            padding: 5px;
        }
        p {
            line-height: $line-height;
            margin-top: $rs;
            margin-bottom: $rs;
            text-align: justify;
        }
        p:first-of-type {
            margin-top: $rs * 3;
        }
        a {
            color: $black;
            border-bottom: 2px solid $black;
            transition: border-color .2s ease, color .2s ease;
            &:hover {
                color: $grey;
                border-bottom: 2px solid $grey-medium;
                transition: border-color .2s ease, color .2s ease;
            }
        }
        .footnotes::before {
            display: block;
            height: 3px;
            background: $grey-lighter;
            width: 12.5%;
            content: '';
            margin-bottom: $rs * 2;
        }
        .footnotes {
            margin-top: $rs * 2;
            p,
            li {
                margin-bottom: $rs / 4;
                margin-top: $rs / 4;
            }
        }
        .footnote {
            margin-left: 2px;
            border: none;
            font-size: smaller;
        }
        .reversefootnote {
            border: none;
        }
        amp-img,
        amp-youtube {
            margin-top: $rs * 2;
        }
        figure {
            margin: 0;
            padding: 0 0 $rs * 2;
        }
        figcaption {
            font-weight: 400;
            font-style: italic;
            font-size: $rs;
            line-height: 1.3;
            color: $grey;
            outline: 0;
            z-index: 300;
            text-align: center;
        }
        hr {
            border: 0;
            padding: 0;
            display: block;
            width: 15%;
            margin: $rs * 2 auto;
            border: 0px solid $grey-lighter;
            border-top: 1px solid $grey-lighter;
        }
        blockquote {
            margin: 0 0 $rs * 2;
            margin-left: -26px;
            border-left: 3px solid $green;
            padding-left: 20px;
            p {
                padding-bottom: 4px;
                padding-top: 4px
            }
            @include respond-to(832) {
                margin-left: 0;
                padding-left: $rs;
            }
        }
        ul, ol {
            padding: 0;
            margin: 0;
        }
        ul {
            list-style: square;
        }
        ol {
            margin-top: $rs * 2;
        }
        li {
            padding-left: 0;
            padding-right: 0;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: $rs * 2;
            line-height: $line-height;
            p:first-of-type,
            p {
                margin-bottom: $rs / 4;
                margin-top: $rs / 4;
                padding: 0;
            }
        }
        ol li {
            list-style-type: decimal;
            padding-left: 4px;
        }
    }
}

.content {
    .author-image {
        background-image: url('{{ site.baseurl }}{{site.author_image}}');
        float: left;
        background-size: cover;
        border-radius: 100%;
    }
    .bottom-teaser {
        padding: 50px 0;
        .isLeft {
            float: left;
            width: 47%;
            box-sizing: border-box;
            @include respond-to(900) {
                width: 100%;
                padding-bottom: $rs * 2;
            }
            .bio {
                margin-top: 18px;
                margin-bottom: 18px;
            }
            .username {
                margin-left: 4px;
                margin-right: 18px;
                margin-bottom: 18px;
            }
            .author-image {
                width: 80px;
                height: 80px;
            }
            h4 {
                font-size: 18px;
                line-height: 1.1;
                margin: 0;
                padding-left: 100px;
            }
            p {
                font-size: 14px;
                line-height: 1.3;
                padding-left: 100px;
                &.published {
                    color: $grey-medium;
                }
            }
        }
        .isRight {
            float: right;
            width: 47%;
            box-sizing: border-box;
            @include respond-to(900) {
                width: 100%;
            }

            .site-footer {
                margin: 0;
                padding: 0;
                text-align: left;
                font-size: 14px;
                line-height: 2;
                a {
                    color: $grey-medium;
                }
                .social-icon {
                    display: block;
                }
            }
        }
    }
}

.username {
    margin-left: 8px;
}

.share {
    padding: 20px 0 0;
    a {
        color: $grey-medium;
        &:hover {
            color: $black;
        }
    }
}

pre,
code {
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid $grey-lighter;
    border-radius: 3px;
    background: $grey-code;
    color: $black;
    font-feature-settings: initial;
    font-family: $font-mono;
    font-weight: 400;
}

code {
    padding: 1px 5px;
    white-space: pre-wrap;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

pre.highlight {
    border: none;
    padding: $rs * 2;
    margin-left: -$rs;
    margin-right: -$rs;
    border-radius: 0;
    line-height: 1.35;
    text-align: initial;
}

.pagination {
    .disabled {
        opacity: 0;
    }

    a.newer-posts {
        float: left;
    }

    a.older-posts {
        float: right;
    }
}

a.logo {
    color: $black;
    transition: opacity .2s linear;
    font-size: 2em;
    font-weight: 600;
    margin-block-start: .67em;
    margin-block-end: .67em;
    display: block;
    &:hover {
        opacity: .8;
    }
}

span.published {
    color: $grey;
}

.reading-time {
    color: $grey;
}
