@import 'fonts';
@import 'syntax-highlighting';

$rs: 16px;

:root {
    --color-background: #fff;
    --color-text-default: #2a2e2e;
    --color-text-secondary: #666d7a;
    --grey-lighter: #e7e9ee;
}

.icon {
    > svg {
        display: inline-block;
        width: $rs;
        height: $rs;
        vertical-align: middle;
    }
}

amp-img {
    background-color: var(--color-text-secondary);
}

amp-img[role=button] {
    cursor: pointer;
}

@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) {
        @content;
    }
}

%vertical-rhythm {
    margin-bottom: $rs;
}

body {
    background-color: var(--color-background);
    font-family: $font-sans;
    margin: 0;
    padding: 0;
    color: var(--color-text-default);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
    font-feature-settings: 'liga', 'dlig';
}


a {
    color: var(--color-text-secondary);
    text-decoration: none;
    transition: 0.2s linear;
    &:hover {
        color: var(--color-text-default);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 800px;
    margin: $rs * 2 auto $rs * 3 auto;
    border-bottom: 2px solid var(--grey-lighter);
    box-sizing: border-box;
    @include respond-to(900) {
        padding: 0 $rs * 1;
    }

    .page-links {
        font-size: 18px;
        a {
            margin-left: 1rem;
            &:hover {
                opacity: .75;
            }
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

}

.content {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    @include respond-to(900) {
        padding: 0 $rs * 1;
    }

    .article-item {
        margin-bottom: $rs * 2;
    }

    .post-item {
        border-bottom: 1px solid var(--grey-lighter);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $rs / 2;
        padding-bottom: $rs / 2;

        &:last-of-type {
            border-bottom: 1px solid transparent;
        }
        .post-title {
            font-size: 1rem;
            margin: 0;
            flex-grow: 1; // Safari Bugfix
            a {
                color: var(--color-text-default);
                &:hover {
                    opacity: .75;
                }
            }
        }

        .post-meta {
            margin-left: 1rem;
            color: var(--color-text-secondary);
            line-height: $rs * 2;
            white-space: nowrap;
        }
    }

    article {
        padding-bottom: $rs * 2;
        &:last-child {
            border-bottom: 0;
        }
        .post-title {
            letter-spacing: $font-spacing;
            font-size: $font-size-large;
            margin: 0 0 32px 0;
        }
        .post-excerpt {
            letter-spacing: $font-spacing;
            font-size: 20px;
            line-height: $line-height;
            color: var(--color-text-secondary);
        }
    }
}

footer {
    margin: 0 auto;
    padding: $rs * 3 0;
    max-width: 800px;
    font-size: $rs / 4 * 3;
    text-align: center;
    color: var(--color-text-secondary);
    line-height: $rs * 1.5;
}

.post {
    .post-title {
        line-height: 1.15;
    }
    .post-meta-text {
        color: var(--color-text-secondary);
        letter-spacing: $font-spacing;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        overflow: hidden;
        font-family: $font-sans;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .post-content {
        margin-top: $rs * 2;
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: $font-spacing;
            margin-bottom: 0;
        }
        h2, h3, h4, h5, h6 {
            font-size: 26px;
            line-height: 1.3;
        }
        h1 {
            font-size: 42px;
            line-height: 1.2;
            margin-top: 50px;
        }
        table {
            border-collapse: collapse;
            margin-top: $rs / 2;
            margin-bottom: $rs / 2;
        }
        table, th, td {
            border: 1px solid var(--color-text-default);
            padding: 5px;
        }
        p {
            line-height: $line-height;
            text-align: justify;
        }
        a {
            color: var(--color-text-default);
            border-bottom: 2px solid var(--color-text-default);
            transition: .2s ease;
            &:hover {
                color: var(--color-text-secondary);
                border-bottom: 2px solid var(--color-text-secondary);
                transition: .2s ease;
            }
        }
        .footnotes::before {
            display: block;
            height: 3px;
            background: var(--grey-lighter);
            width: 12.5%;
            content: '';
            margin-bottom: $rs * 2;
        }
        .footnotes {
            margin-top: $rs * 2;
            p,
            li {
                margin-bottom: $rs / 4;
                margin-top: $rs / 4;
            }
        }
        .footnote {
            margin-left: 2px;
            border: none;
            font-size: smaller;
        }
        .reversefootnote {
            border: none;
        }
        amp-img,
        amp-youtube {
            margin-top: $rs * 2;
        }
        figure {
            margin: 0;
            padding: 0 0 $rs * 2;
        }
        figcaption {
            font-weight: 400;
            font-style: italic;
            font-size: $rs;
            line-height: 1.3;
            color: var(--color-text-secondary);
            outline: 0;
            z-index: 300;
            text-align: center;
        }
        hr {
            border: 0;
            padding: 0;
            display: block;
            width: 15%;
            margin: $rs * 2 auto;
            border: 0px solid var(--grey-lighter);
            border-top: 1px solid var(--grey-lighter);
        }
        blockquote {
            margin-top: $rs * 2;
            margin-bottom: $rs * 2;
            margin-left: -26px;
            margin-right: 0;
            border-left: 3px solid #57ad68;
            padding-left: 20px;
            p {
                padding-bottom: $rs / 4;
                padding-top: $rs / 4;
            }
            @include respond-to(832) {
                margin-left: 0;
                padding-left: $rs;
            }
        }
        ul, ol {
            padding: 0;
            margin: 0;
        }
        ul {
            list-style: square;
        }
        ol {
            margin-top: $rs * 2;
        }
        li {
            padding-left: 0;
            padding-right: 0;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: $rs * 2;
            line-height: $line-height;
            p:first-of-type,
            p {
                margin-bottom: $rs / 4;
                margin-top: $rs / 4;
                padding: 0;
            }
        }
        ol li {
            list-style-type: decimal;
            padding-left: 4px;
        }
    }
}

.username {
    margin-left: 8px;
}

pre,
code,
.highlighter-rouge .highlight {
    background: #faf9f9;
}

pre,
code {
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid var(--grey-lighter);
    border-radius: 3px;
    color: var(--color-text-default);
    font-feature-settings: initial;
    font-family: $font-mono;
    font-weight: 400;
}

code {
    padding: 1px 5px;
    white-space: pre-wrap;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

pre.highlight {
    border: none;
    padding: $rs * 2;
    margin-left: -$rs;
    margin-right: -$rs;
    border-radius: 0;
    line-height: 1.35;
    text-align: initial;
}

.pagination {
    color: var(--color-text-secondary);
    display: flex;
    justify-content: space-between;
    padding: $rs * 2 0 0;

    .disabled {
        opacity: 0;
    }
}

a.logo {
    color: var(--color-text-default);
    transition: opacity .2s linear;
    font-size: 2em;
    font-weight: 600;
    margin-block-end: $rs;
    letter-spacing: -.025em;

    &:hover {
        opacity: .75;
    }
}

.metadata {
    color: var(--color-text-secondary);
}

@import 'dark';
