@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$grey-color:            #828282;
$grey-color-lighter:    rgba(221, 221, 221, .7);
$grey-color-medium:     #656c7a;
$black:                 #2a2e2e;

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

amp-img {
    background-color: grey;
}

amp-img[role=button] {
    cursor: pointer;
}

.cf {
    @include clearfix;
}

$rs: 16px;

$font-serif: Charter, Georgia, Cambria, 'Times New Roman', Times, serif;
$font-sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;

$font-spacing: -.02em;
$line-height: 1.6;

@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) {
        @content;
    }
}

// Only needed for syntax highlighting
%vertical-rhythm {
    margin-bottom: $rs;
}

main {
    display: block;
}

body {
    background-color: #fff;
    font-family: $font-sans;
    margin: 0;
    padding: 0;
    color: $black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.site-header {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 32px auto;
    border-bottom: 1px solid $grey-color-lighter;
    box-sizing: border-box;
    @include respond-to(900) {
        padding: 0 $rs * 1;
    }

    .page-links {
        display: block;
        position: absolute;
        top: 10px;
        right: $rs;
        font-size: 18px;
        line-height: 32px;

        a {
            text-decoration: none;
            color: $grey-color-medium;
            transition: color 0.2s linear;
            &:hover {
                color: $black;
                opacity: .85;
            }
        }
    }

}

.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    @include respond-to(900) {
        padding: 0 $rs * 1;
    }

    .article-item {
        margin-bottom: 32px;
    }

    article {
        padding: 32px 0 0 0;
        &:last-child {
            border-bottom: 0;
        }
        .post-title {
            letter-spacing: $font-spacing;
            font-size: 36px;
            margin: 0;
            a {
                text-decoration: none;
                color: $black;
                transition: opacity .2s linear;
                &:hover {
                    text-decoration: none;
                    opacity: .75;
                }
            }
        }
        .post-excerpt {
            letter-spacing: $font-spacing;
            font-size: 20px;
            line-height: $line-height;
            color: #666;
        }
        .post-meta {
            color: $grey-color-medium;
            line-height: 32px;
        }
    }
}

.post-template .content {
    max-width: 800px;
}

.index-headline {
    border-top: 1px solid $grey-color-lighter;
    margin: 0;
    padding: 16px 0;
    padding-bottom: 32px;
    color: $grey-color-medium;
    font-size: $rs / 8 * 6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pagination {
    text-align: center;
    padding: $rs * 1 0 0;
    a {
        color: $grey-color-medium;
        text-decoration: none;
        &:hover {
            color: $black;
        }
    }
}

.site-footer {
    margin: 0 auto;
    padding: $rs * 3 0;
    width: 100%;
    max-width: 800px;
    font-size: $rs / 4 * 3;
    text-align: center;
    color: $grey-color-medium;
    line-height: $rs * 1.5;
    a {
        color: #666;
        text-decoration: none;
        &:hover {
            color: $black;
        }
    }
}

.post {
    .post-title {
        font-weight: 600;
        line-height: 1.15;
    }
    .post-meta-text {
        color: $grey-color-medium;
        letter-spacing: $font-spacing;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        overflow: hidden;
        font-family: $font-sans;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .post-content {
        width: 100%;
        font-family: $font-serif;
        font-weight: 300;
        text-align: justify;
        color: $black;
        strong,
        b {
            font-weight: 700;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-sans;
            letter-spacing: $font-spacing;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 0;
        }
        h3, h4, h5, h6 {
            font-size: 26px;
            line-height: 1.3;
            margin-top: 50px;
        }
        h2, h1 {
            font-size: 42px;
            line-height: 1.2;
            margin-top: 50px;
        }
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 5px;
            text-align:left;
        }
        p {
            font-size: 20px;
            line-height: $line-height;
            letter-spacing: -.002em;
            margin-top: 32px;
            hyphens: auto;
            font-feature-settings: 'liga', 'dlig';
        }
        a {
            color: $black;
            text-decoration: none;
            border-bottom: 2px solid $black;
            transition: border-color .2s ease, color .2s ease;
            &:hover {
                color: #777;
                border-bottom: 2px solid $grey-color-medium;
                transition: border-color .2s ease, color .2s ease;
            }
        }
        .footnotes::before {
            display: block;
            height: 3px;
            background: $grey-color-lighter;
            width: 12.5%;
            content: '';
            margin-bottom: 32px;
        }
        .footnotes {
            margin-top: 32px;
        }
        .footnote {
            margin-left: 2px;
            text-decoration: none;
            border: none;
            font-size: smaller;
        }
        .reversefootnote {
            border: none;
            text-decoration: none;
        }
        amp-img,
        amp-youtube {
            margin-top: 32px;
        }
        figure {
            margin: 0;
            padding: 0 0 32px;
        }
        figcaption {
            font-weight: 400;
            font-style: italic;
            font-size: 16px;
            line-height: 1.3;
            color: #666;
            outline: 0;
            z-index: 300;
            text-align: center;
        }
        hr {
            border: 0;
            padding: 0;
            display: block;
            width: 15%;
            margin: 32px auto;
            border: 0px solid #ddd;
            border-top: 1px solid #ddd;
        }
        blockquote {
            margin: 0 0 32px;
            margin-left: -26px;
            border-left: 3px solid #57ad68;
            padding-left: 20px;
            p {
                padding-bottom: 4px;
                padding-top: 4px
            }
            @include respond-to(832) {
                margin-left: 0;
                padding-left: 16px;
            }
        }
        ul, ol {
            padding: 0;
            margin: 0;
        }
        ul {
            list-style: square;
        }
        li {
            padding: 0;
            margin-left: 32px;
            font-size: 20px;
            line-height: $line-height;
            letter-spacing: -.002em;
            hyphens: auto;
            font-feature-settings: 'liga', 'dlig';
            p {
                padding: 0;
                margin: 20px 0;
            }
        }
        ol li {
            list-style-type: decimal;
        }
    }
}

.content {
    .author-image {
        background-image: url({{ site.baseurl }}{{site.author_image}});
        display: inline-block;
        float: left;
        background-size: cover;
        border-radius: 100%;
    }
    .bottom-teaser {
        padding: 50px 0;
        .isLeft {
            float: left;
            width: 47%;
            box-sizing: border-box;
            @include respond-to(900) {
                width: 100%;
                padding-bottom: $rs * 2;
            }
            .bio {
                margin-top: 18px;
                margin-bottom: 18px;
            }
            .username {
                margin-left: 4px;
                margin-right: 18px;
                margin-bottom: 18px;
            }
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    color: $black;
                    text-decoration: underline;
                }
            }
            .author-image {
                width: 80px;
                height: 80px;
            }
            h4 {
                font-size: 18px;
                line-height: 1.1;
                margin: 0;
                padding-left: 100px;
            }
            p {
                font-size: 14px;
                line-height: 1.3;
                padding-left: 100px;
                &.published {
                    color: $grey-color-medium;
                }
            }
        }
        .isRight {
            float: right;
            width: 47%;
            box-sizing: border-box;
            @include respond-to(900) {
                width: 100%;
            }

            .site-footer {
                margin: 0;
                padding: 0;
                text-align: left;
                font-size: 14px;
                line-height: 2;
                a {
                    color: $grey-color-medium;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .social-icon {
                    display: block;
                }
            }
        }
    }
}

.custom-font-loaded {
    .post-content {
        font-family: 'Merriweather';
        p {
            font-size: 18px;
            line-height: 1.7;
        }
    }
}

.username {
    margin-left: 8px;
}

.share {
    padding: 20px 0 0;
    a {
        text-decoration: none;
        color: $grey-color-medium;
        padding-left: 12px;
        float: right;
        &:hover {
            color: $black;
        }
    }
}

pre,
code {
    font-size: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #faf9f9;
    font-feature-settings: initial;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: 400;
}

code {
    padding: 1px 5px;
    white-space: pre-wrap;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

pre.highlight {
    border: none;
    padding: 32px;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 0;
    line-height: 1.35;
}

.pagination {
    .disabled {
        opacity: 0;
    }

    a.newer-posts {
        float: left;
    }

    a.older-posts {
        float: right;
    }
}

a.logo {
    text-decoration: none;
    color: $black;
    transition: opacity .2s linear;
    &:hover {
        text-decoration: none;
        opacity: .8;
    }
}

span.published {
    color: $grey-color-medium;
}
