---
layout: default
---
<main class="content">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <section class="post-content">
      {{ content }}
    </section>
    <footer class="post-footer">
      <section class="share">
        <span class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></span>
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on {% include icon-twitter.html %}
        </a>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Written by</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.author }}</h4>
          <p class="bio">{{site.bio}}</p>
        </section>
      </div>
      <div class="isRight">
        <h5 class="index-headline featured"><span>Around the web</span></h5>
        <footer class="site-footer">
          <span class="social-icon">
            {% if site.github_username %}
              {% include icon-github.html username=site.github_username %}
            {% endif %}
          </span>
          <span class="social-icon">
            {% if site.twitter_username %}
              {% include icon-twitter.html username=site.twitter_username %}
            {% endif %}
          </span>
          <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
        </footer>
      </div>
    </div>
  </article>
</main>

{% include footer.html %}
