---
layout: default
---

<main class="content">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <span class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></span> •
    {% include reading-time.html content=content %}

    <section class="post-content">
      {{ content }}
    </section>

  </article>

  {% if page.comments %}
    <amp-iframe width=600 height=140
      title="Comment with Disqus"
      layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
      resizable
      src="https://disqus.lavaux.lv/?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}#{{ page.url | md5 }}">
      <div overflow tabindex="0" role="button" aria-label="Disqus Comments">Disqus Comments</div>
    </amp-iframe>
  {% endif %}
</main>
